*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#container > div{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    width: 40%;
    padding: 2rem;
    background-color: #2d3047;
    color: white;
    align-items: center;
    text-align: center;
    transition: transform 0.25s, background-color 0.25s, color 0.25s;
    cursor: pointer;
}

#container > div:hover {
    transform: scale(1.1);
    background-color: white;
    color: #2d3047;
}

.cardTitle {
    margin-bottom: 1rem;
    font-family: Acme;
    font-size: 2rem;
}