* {
    box-sizing: border-box;
}


#keyboard {
    font-family: sans-serif;
    position: relative;
    top: 2rem;
    border: 1px solid black;
    height: 10rem;
    margin: auto;
    width: 600px;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7rem;
    transform: scale(1.2);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key {
    border: 1px solid black;
    width: 5%;
    border-radius: 8%;
    background: #f2f2f2;
}

.key-bottom {
    position: relative;
    left: 0.7rem;
}

.key-top {
    position: relative;
    left: 0.1rem;
}

.key-special {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-backspace {
    width: 14%;
}

.key-tab {
    width: 10%;
}

.key-backslash {
    width: 10%;
}

.key-backslash .key-top {
    left: 0.3rem;
}

.key-backslash .key-bottom {
    left: 1.9rem;
}

.key-alpha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-capslock {
    width: 12%;
}

.key-enter {
    width: 14%;
}

.key-shift {
    width: 16%;
}

.row:nth-child(5) {
    height: 20%;
}

.key-space {
    width: 50%;
}

.red {
    background: red;
}